[Unit]
Description=KNX to OpenHAB Web UI Service
After=network.target
Wants=knxohui-backup-cleanup.timer

[Service]
Type=notify
User=knxohui
Group=knxohui
WorkingDirectory=/opt/knx_to_openhab
Environment="PATH=/opt/knx_to_openhab/venv/bin:/usr/bin:/bin"
ExecStart=/opt/knx_to_openhab/venv/bin/gunicorn -c /opt/knx_to_openhab/web_ui/backend/gunicorn_conf.py web_ui.backend.app:app
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
