[Unit]
Description=KNX to OpenHAB Backup Cleanup
After=network.target

[Service]
Type=oneshot
User=knxohui
Group=knxohui
ExecStart=/opt/knx_to_openhab/installer/backup_cleanup.sh

[Install]
WantedBy=multi-user.target
