[Unit]
Description=KNX to OpenHAB Backup Cleanup
After=network.target

[Service]
Type=oneshot
User=knxui
Group=knxui
ExecStart=/opt/knx_to_openhab/installer/backup_cleanup.sh

[Install]
WantedBy=multi-user.target
